<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>商品一覧</title>
  </head>
  <body>
    <div th:insert="fragment_part :: frag_header"></div>
    <div class="container">
      <!-- table -->
      <div class="row justify-content-center">
        <div
          class="
            table-responsive
            col-lg-offset-1
            col-lg-10
            col-md-offset-1
            col-md-10
            col-sm-12
            col-xs-12
          "
        >
          <!-- ここから上を編集する必要はありません -->
          <h3>商品</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>商品名</th>
                <th>単価</th>
                <th>作成者</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="item:${itemList}">
                <td>
                  <a
                    href="item-detail.html"
                    th:href="@{/item/showDetail?id=}+${item.id}"
                  >
                    <span th:text="${item.name}">楽楽精算</span>
                  </a>
                </td>
                <td>
                  <span
                    th:text="${#numbers.formatInteger(item.price,1,'COMMA')}+円"
                    >300,000,000円</span
                  >
                </td>
                <td>
                  <a
                    href="user-detail.html"
                    th:href="@{/user/showDetail?id=}+${item.createdBy.id}"
                    ><span th:text="${item.createdBy.name}">古本昌幸</span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- ここから下を編集する必要はありません -->
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src=""></script>
  </body>
</html>
