<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>商談編集</title>
  </head>
  <body>
    <div th:insert="fragment_part :: frag_header"></div>
    
    
    <div class="container">
   	<ol class="breadcrumb">
	  	<li class="breadcrumb-item "><a href="home.html" th:href="@{/home}">HOME</a></li>
		<li class="breadcrumb-item"><a href="trade-list.html" th:href="@{/trade/showList}">商談一覧</a></li>
		<li class="breadcrumb-item"><a href="trade-detail.html" th:href="@{/trade/showDetail?id=}+${trade.id}">商談詳細</a></li>
		<li class="breadcrumb-item active">商談編集</li>
	</ol>
	
      <!-- table -->
      <div class="row justify-content-center">
        <div
          class="
            table-responsive
            col-lg-offset-1
            col-lg-10
            col-md-offset-1
            col-md-10
            col-sm-12
            col-xs-12
          "
        >
          <!-- ここから上を編集する必要はありません -->
          <h3>商談編集</h3>
          <form th:action="@{/trade/edit/confirm}" method="post" th:object="${tradeEditForm}">
          <table class="table table-striped">
              <tr>
              <th style="width:20%;"></th>
              <th style="width:40%;">詳細</th>
              <th style="width:40%;">入力欄</th>
              </tr>
              <tr>
                <th class="align-middle">商談ID</th>
                <td class="align-middle"><span th:text="${trade.id}">xx</span></td>
                <td>
             	   <input type="hidden" name="id" th:value="${trade.id}">
                </td>
              </tr>
              <tr>
                <th class="align-middle"><label for="tradeName">商談名</label></th>
                <td class="align-middle">
                    <label for="tradeName"><span th:text="${trade.name}">楽楽精算</span></label>
                </td>
                <td class="align-middle">
                	<div th:errors="*{name}" class="text-danger"></div>
                    <span th:if="*{name}!=null">
	                    <input type="text"
	                    id="tradeName"
	                    name="name"
	                    class="form-control form-control-sm"
	                    th:value="${trade.name}"
	                    th:field="*{name}">
                    </span>
                    <span th:unless="*{name}!=null">
	                    <input type="text"
	                    id="tradeName"
	                    name="name"
	                    class="form-control form-control-sm"
	                    th:value="${trade.name}"
	                    >
                    </span>
                </td>
               
              </tr>
              <tr>
                <th class="align-middle">郵便番号</th>
                <td class="align-middle">
                    〒<span th:text="${trade.zipcode}">191-0022</span><br>
                    
                </td>
               <td class="align-middle">
                	<div th:errors="*{zipcode}" class="text-danger"></div>
                    <div th:if="*{zipcode}!=null">
	                    <input type="text"
	                    id="zipcode"
	                    name="zipcode"
	                    class="form-control form-control-sm"
	                    th:value="${trade.zipcode}"
	                    th:field="*{zipcode}">
                    </div>
                    <div th:unless="*{zipcode}!=null">
	                    <input type="text"
	                    id="zipcode"
	                    name="zipcode"
	                    class="form-control form-control-sm"
	                    th:value="${trade.zipcode}"
	                    >
                    </div>
                    <button type="button" id="getAddress" class="btn btn-sm btn-secondary">住所検索</button>
				  </td>
              </tr>
              <tr>
                <th class="align-middle">住所</th>
                <td class="align-middle">
                    <span th:text="${trade.address}">東京都新宿区西新宿1-1-1</span>
                    
                </td>
				<td class="align-middle">
                	<div th:errors="*{address}" class="text-danger"></div>
                    <span th:if="*{address}!=null">
	                    <input type="text"
	                    id="address"
	                    name="address"
	                    class="form-control form-control-sm"
	                    th:value="${trade.address}"
	                    th:field="*{address}">
                    </span>
                    <span th:unless="*{address}!=null">
	                    <input type="text"
	                    id="address"
	                    name="address"
	                    class="form-control form-control-sm"
	                    th:value="${trade.address}"
	                    >
                    </span>
                    
               </td>
              </tr>
              <tr>
                <th class="align-middle">建物</th>
                <td class="align-middle">
                    <span th:text="${trade.building}">住友不動産新宿グランドタワー</span>
                    
                </td>
				<td class="align-middle">
                	<div th:errors="*{building}" class="text-danger"></div>
                    <span th:if="*{building}!=null">
	                    <input type="text"
	                    id="building"
	                    name="building"
	                    class="form-control form-control-sm"
	                    th:value="${trade.building}"
	                    th:field="*{building}">
                    </span>
                    <span th:unless="*{building}!=null">
	                    <input type="text"
	                    id="building"
	                    name="building"
	                    class="form-control form-control-sm"
	                    th:value="${trade.building}"
	                    >
                    </span>
                </td>
                
                
              </tr>
              <tr>
                <th class="align-middle">電話番号</th>
                <td class="align-middle">
                    <span th:text="${trade.telephone}">090-0000-0000</span><br>
                </td>
                <td class="align-middle">
					<div th:errors="*{telephone}" class="text-danger"></div>
                    <span th:if="*{telephone}!=null">
	                    <input type="text"
	                    id="telephone"
	                    name="telephone"
	                    class="form-control form-control-sm"
	                    th:value="${trade.telephone}"
	                    th:field="*{telephone}">
                    </span>
                    <span th:unless="*{telephone}!=null">
	                    <input type="text"
	                    id="telephone"
	                    name="telephone"
	                    class="form-control form-control-sm"
	                    th:value="${trade.telephone}"
	                    >
                    </span>
                 </td>
              </tr>
              
              <tr>
                <th class="align-middle">与信限度額</th>
                <td class="align-middle">
                  <span
                    th:text="${#numbers.formatInteger(trade.creditLimit,1,'COMMA')}+円"
                    >300,000,000円</span
                  >
                </td>
                <td class="align-middle">
                  <div th:errors="*{creditLimit}" class="text-danger"></div>
                    <span th:if="*{creditLimit}!=null">
	                    <input type="text"
	                    id="creditLimit"
	                    name="creditLimit"
	                    class="form-control form-control-sm"
	                    th:value="${trade.creditLimit}"
	                    th:field="*{creditLimit}">
                    </span>
                    <span th:unless="*{creditLimit}!=null">
	                    <input type="text"
	                    id="creditLimit"
	                    name="creditLimit"
	                    class="form-control form-control-sm"
	                    th:value="${trade.creditLimit}"
	                    >
                    </span>
                </td>
                
              </tr>
              
              <tr>
                <th class="align-middle">商談所有者</th>
                <td class="align-middle">
                  <a
                    href="user-detail.html"
                    th:href="@{/user/showDetail?id=}+${trade.owner.id}"
                    ><span th:text="${trade.owner.name}">古本昌幸</span>
                  </a>
                </td>
                 <td>
                 <div th:errors="*{ownerId}" class="text-danger"></div>
		              <div th:if="*{ownerId}!=null">
						<select th:field="*{ownerId}" class="form-select form-select-sm" aria-label=".form-select-sm">
							<option th:each="owner:${userList}" th:value="${owner.id}" th:text="${owner.name}"></option>
	              		</select>
	                  </div>
	                  <div th:unless="*{ownerId}!=null">
		                <select id="ownerId" name="ownerId" class="form-select form-select-sm" aria-label=".form-select-sm">
							<option th:each="owner:${userList}" th:value="${owner.id}" th:text="${owner.name}" th:selected="${owner.id} == ${trade.owner.id}"></option>
	              		</select>
	                  </div>
                </td>
              </tr>
            
              <tr>
                <th class="align-middle">備考</th>
                <td class="align-middle">
	                   <th:block th:if="${trade.remarks}">
					    <th:block th:each="str, stat : ${trade.remarks.split('\r\n|\r|\n', -1)}">
					        <th:block th:text="${str}"/>
					        <br th:if="${!stat.last}"/>
					    </th:block>
					</th:block>
                </td>
                <td class="align-middle">
               	  <div th:errors="*{remarks}" class="text-danger"></div>
                  <span th:if="*{remarks}!=null">
	               <textarea 
                   id="tradeRemarks" 
                   name="remarks"
                   class="form-control form-control-sm"
                   th:text="${trade.remarks}"
                   th:field="*{remarks}">
                   </textarea>
                  </span>
                  <span th:unless="*{remarks}!=null">
	                <textarea 
	                   id="tradeRemarks" 
	                   name="remarks"
	                   class="form-control form-control-sm"
	                   th:text="${trade.remarks}">
	                </textarea>
                  </span>
                    
               </td>
              </tr>
              
              
          </table>
          <div>
	          <button
	              type="submit"
	              class="
	                btn btn-primary
	                 offset-lg-5
	                col-lg-2
	                offset-sm-4
	                col-sm-4
	              "
	            >
	             編集内容を確認
	            </button>
          </div>
          </form>
          <br>
          <div>
	         <a
	              type="button"
	              class="
	                btn btn-light
	                offset-lg-5
	                col-lg-2
	                offset-sm-4
	                col-sm-4
	              "
	              href="trade-detail.html"
	              th:href="@{/trade/showDetail?id=}+${trade.id}"
	            >
	             編集をやめる
            </a>
          </div>
          <br>
          <br>
          <div class="offset-lg-5
	                col-lg-2
	                offset-sm-4
	                col-sm-4">
	          <div class="accordion accordion-flush" id="accordionExample">
				  <div class="accordion-trade">
				    <h2 class="accordion-header" id="headingOne">
				      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				        商談の削除
				      </button>
				    </h2>
				    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
				      <div class="accordion-body">
     	                <div class="row justify-content-center">
				         <a
		              type="button"
		              class="
		                btn btn-danger
		              "
		              href="trade-delete-confirm.html"
		              th:href="@{/trade/delete/confirm?id=}+${trade.id}"
		            >
		             この商談を削除する
	            </a>
	            </div>
				      </div>
				    </div>
				  </div>
		  </div>
		  </div>
		  </div>
	        
	          

          <!-- ここから下を編集する必要はありません -->
        </div>
      </div>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <script src="/js/zipcoda.js"></script>
  </body>
</html>
