<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>商談編集</title>
  </head>
  <body>
    <div th:insert="fragment_part :: frag_header"></div>
    
    
    <div class="container">
   	<ol class="breadcrumb">
	  	<li class="breadcrumb-item "><a href="home.html" th:href="@{/home}">HOME</a></li>
		<li class="breadcrumb-item"><a href="trade-list.html" th:href="@{/trade/showList}">商談一覧</a></li>
		<li class="breadcrumb-item"><a href="trade-edit.html" th:href="@{/trade/insert}">商談新規作成</a></li>
		<li class="breadcrumb-item active">商談新規作成確認</li>
	</ol>
	
	
      <!-- table -->
      <div class="row justify-content-center">
        <div
          class="
            table-responsive
            col-lg-offset-1
            col-lg-10
            col-md-offset-1
            col-md-10
            col-sm-12
            col-xs-12
          "
        >
          <!-- ここから上を編集する必要はありません -->
          <h3>商談新規作成確認</h3>
          <form th:action="@{/trade/insert/finish}" method="post" th:object="${tradeInsertForm}">
          <table class="table table-striped text-center">
              <tr>
	              <th style="width:30%;"></th>
	              <th style="width:70%;">詳細</th>
              </tr>
              
              <tr>
                <th class="align-middle">商談名</th>
                <td class="align-middle">
                    <span th:text="${insertingTrade.name}">楽楽精算</span>
                </td>
              </tr>
              <tr>
                <th class="align-middle">取引先</th>
                <td class="align-middle">
                   	<span th:text="${insertingTrade.contact.belongs.name}">楽楽精算</span>
                </td>
              </tr>
              <tr>
                <th class="align-middle">取引先担当者</th>
                <td class="align-middle">
                   	<span th:text="${insertingTrade.contact.name}">赤塩 勇太</span>
                </td>
              </tr>
              <tr>
                <th class="align-middle">商談ステータス</th>
                <td class="align-middle">
                    <span th:text="${insertingTrade.statusKey}"></span>.
                    <span th:text="${insertingTrade.statusValue}"></span>
                </td>
              </tr>
              <tr>
                <th class="align-middle">最終更新日</th>
                <td class="align-middle">
                    <span th:text="${#dates.format(insertingTrade.date,'yyyy/MM/dd')}">090-0000-0000</span><br>
                </td>
              </tr>
              <tr>
                <th class="align-middle">合計金額</th>
                <td class="align-middle">
                  <span
                    th:text="${#numbers.formatInteger(insertingTrade.calcTotalPrice,1,'COMMA')}+円"
                    >300,000,000円</span
                  >
                </td>
              </tr>
              
              <tr>
                <th class="align-middle">商談所有者</th>
                <td class="align-middle">
                  <a
                    href="user-detail.html"
                    th:href="@{/user/showDetail?id=}+${insertingTrade.owner.id}"
                    ><span th:text="${insertingTrade.owner.name}">古本昌幸</span>
                  </a>
                </td>
              </tr>
            
              <tr>
                <th class="align-middle">備考</th>
                <td class="align-middle">
	                   <th:block th:if="${insertingTrade.remarks}">
					    <th:block th:each="str, stat : ${insertingTrade.remarks.split('\r\n|\r|\n', -1)}">
					        <th:block th:text="${str}"/>
					        <br th:if="${!stat.last}"/>
					    </th:block>
					</th:block>
                </td>
              </tr>
          </table>
          <div>
	          <button
	              type="submit"
	              class="
	                btn btn-outline-primary
	                 offset-lg-5
	                col-lg-2
	                offset-sm-4
	                col-sm-4
	              "
	            >
	             この内容で決定
	            </button>
          </div>
          </form>
          <br>
          <div>
	         <a
	              type="button"
	              class="
	                btn btn-dark
	                offset-lg-5
	                col-lg-2
	                offset-sm-4
	                col-sm-4
	              "
	              href="trade-insert.html"
	              th:href="@{/trade/insert}"
	            >
	             作成に戻る
            </a>
          </div>
          <br>
          <div>
	         <a
	              type="button"
	              class="
	                btn btn-outline-warning
	                offset-lg-5
	                col-lg-2
	                offset-sm-4
	                col-sm-4
	              "
	              href="trade-list.html"
	              th:href="@{/trade/showList}"
	            >
	             作成をやめる
            </a>
          </div>
          <br>
          <br>
		  </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
  </body>
</html>
