<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>商談詳細</title>
  </head>
  <body>
    <div th:insert="fragment_part :: frag_header"></div>
    
    
    <div class="container">
	<ol class="breadcrumb">
	  	<li class="breadcrumb-item "><a href="home.html" th:href="@{/home}">HOME</a></li>
		<li class="breadcrumb-item"><a href="trade-list.html" th:href="@{/trade/showList}">商談一覧</a></li>
		<li class="breadcrumb-item"><a href="trade-detail.html" th:href="@{/trade/showDetail?id=}+${tradingItem.tradeId}">商談詳細</a></li>
		<li class="breadcrumb-item"><a href="tradingItem-edit.html" th:href="@{/tradingItem/edit?id=}+${tradingItem.id}">商談商品編集</a></li>
		<li class="breadcrumb-item active">商談削除確認</li>
	</ol>
      <!-- table -->
      <div class="row justify-content-center">
        <div
          class="
            table-responsive
            col-lg-offset-1
            col-lg-10
            col-md-offset-1
            col-md-10
            col-sm-12
            col-xs-12
          "
        >
          <!-- ここから上を編集する必要はありません -->
          <h3>商談削除確認</h3>
          <table class="table table-striped">
              <tr>
              <th></th>
              <th>詳細</th>
              </tr>
              
              <tr>
                <th class="align-middle">商品</th>
                <td class="align-middle">
                    	<span th:text="${tradingItem.item.name}">楽楽精算</span>
                </td>
              </tr>
              
              
              <tr>
                <th class="align-middle">単価</th>
                <td class="align-middle" th:text="${#numbers.formatInteger(tradingItem.item.price,1,'COMMA')}+円"></td>
                <td></td>
              </tr>
              
              <tr>
                <th class="align-middle">数量</th>
                 <td class="align-middle">
                   	<span th:text="${tradingItem.quantity}">2</span>
                 </td>
              </tr>
              <tr>
                <th class="align-middle">備考</th>
                <td class="align-middle">
	                   <th:block th:if="${tradingItem.remarks}">
					    <th:block th:each="str, stat : ${tradingItem.remarks.split('\r\n|\r|\n', -1)}">
					        <th:block th:text="${str}"/>
					        <br th:if="${!stat.last}"/>
					    </th:block>
					</th:block>
                </td>
              </tr>
              <tr>
                <th class="align-middle">小計金額</th>
                <td class="align-middle">
                  <span
                    th:text="${#numbers.formatInteger(tradingItem.subTotal,1,'COMMA')}+円"
                    >300,000,000円</span
                  >
                </td>
              </tr>
          </table>
          <div class="text-center">この商談を削除します。よろしいですか？</div>
          <br>	
          
          <div>
          <form method="post" th:action="@{/tradingItem/delete/finish}">
          <input type="hidden" name="id" th:value="${tradingItem.id}">
	          <button
	              type="submit"
	              class="
	                btn btn-outline-danger
	                offset-lg-4
	                col-lg-4
	                offset-sm-6
	                col-sm-3
	              "
	            >
	             この商談を削除する
	            </button>
          </form>
          <br>
	          <a
	              type="button"
	              class="
	                btn btn-outline-secondary
	                offset-lg-4
	                col-lg-4
	                offset-sm-6
	                col-sm-3
	              "
	              href="trade-edit.html"
	              th:href="@{/tradingItem/edit?id=}+${tradingItem.id}"
	            >
	            削除をやめる
	            </a>
          </div>
         </div>

        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src=""></script>
  </body>
</html>
